<div class="d-flex justify-content-center pt-5">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title text-center">Restablece tu Contraseña</h5>
        
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="custom-form form">
          
          <!-- Campo "Nueva contraseña" -->
          <div class="flex-column">
            <label>Nueva Contraseña</label>
            <div class="inputForm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20">
                    <path
                      d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0">
                    </path>
                    <path
                      d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0">
                    </path>
                  </svg>
              <input
                type="password"
                class="input"
                formControlName="newPassword"
                placeholder="Introduce la nueva contraseña"
                [ngClass]="{
                  'is-invalid': resetForm.get('newPassword')?.invalid &&
                                (resetForm.get('newPassword')?.touched || resetForm.get('newPassword')?.dirty)
                }"
              />
            </div>
          </div>
          <div class="invalid-feedback flex-column" *ngIf="resetForm.get('newPassword')?.invalid && (resetForm.get('newPassword')?.touched || resetForm.get('newPassword')?.dirty)">
            <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">
              Este campo es obligatorio
            </div>
            <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">
              La contraseña debe tener al menos 8 caracteres
            </div>
          </div>
  
          <!-- Campo "Confirmar contraseña" -->
          <div class="flex-column">
            <label>Confirmar Contraseña</label>
            <div class="inputForm">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20">
                    <path
                      d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0">
                    </path>
                    <path
                      d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0">
                    </path>
                  </svg>
              <input
                type="password"
                class="input"
                formControlName="confirmPassword"
                placeholder="Repite la contraseña"
                [ngClass]="{
                  'is-invalid': resetForm.errors?.['passwordsMismatch'] ||
                                (resetForm.get('confirmPassword')?.invalid &&
                                 (resetForm.get('confirmPassword')?.touched || resetForm.get('confirmPassword')?.dirty))
                }"
              />
            </div>
          </div>
          <div class="invalid-feedback" *ngIf="resetForm.errors?.['passwordsMismatch']">
            Las contraseñas no coinciden
          </div>
  
          <!-- Error del servidor -->
          <div *ngIf="serverErrorMessage" class="invalid-feedback d-block text-center mt-2">
            {{ serverErrorMessage }}
          </div>
  
          <!-- Botones -->
          <div class="button-container my-3">
            <button class="button-submit" type="submit">Restablecer</button>
            <button class="btn btn-secondary" type="button" (click)="cancel()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  