<main class="sobre-nosotros">
  <section class="container text-center">
      <h1 class="mb-4">Sobre Nosotros</h1>
      <p>Somos tres desarrolladores apasionados que creamos ShareList con el objetivo de hacer la organización de tus compras más sencilla y eficiente.</p>
  </section>

  <section class="py-5 bg-light">
      <div class="container">
          <div class="row g-4 text-center">
              <div class="col-md-4">
                  <img src="alex.png" alt="Alejandro Paniagua" class="creator-img mb-3">
                  <h3>Alejandro Paniagua</h3>
                  <p>Desarrollador Frontend</p>
                  <p>"Me encargo de hacer que la interfaz de usuario sea intuitiva y atractiva para todos los usuarios de ShareList."</p>
              </div>
              <div class="col-md-4">
                  <img src="jose.png" alt="Jose Lara" class="creator-img mb-3">
                  <h3>Jose Lara</h3>
                  <p>Desarrollador Backend</p>
                  <p>"Mi objetivo es asegurar que todo funcione perfectamente detrás de la aplicación, ofreciendo un servicio confiable y seguro."</p>
              </div>
              <div class="col-md-4">
                  <img src="andres.png" alt="Andres Gonzalez" class="creator-img mb-3">
                  <h3>Andres González</h3>
                  <p>Diseñador UX/UI</p>
                  <p>"Trabajo para ofrecer una experiencia de usuario única y agradable que haga destacar a ShareList."</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Academic Information Section -->
  <section class="py-3">
    <div class="container text-center">
        <p>Este proyecto fue desarrollado como parte de la asignatura de Tecnologías Web, perteneciente a la carrera de Ingeniería Informática en la rama de Tecnologías de la Información.</p>
    </div>
  </section>
</main>
