<div class="px-3 mt-3">
  <p>Tus listas de la compra</p>

  <input type="text" [(ngModel)]="nombreLista" placeholder="Nombre de la lista">
  <button class="btn btn-primary" (click)="agregarLista()">Crear lista</button>

  <p *ngIf="misListas.length === 0">No tienes listas de la compra</p>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
    <div class="col" *ngFor="let lista of misListas; let i = index">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center">{{ lista.nombre.charAt(0).toUpperCase() + lista.nombre.slice(1).toLowerCase() }}</h5>
          <p class="card-text">ID: {{ lista.id }}</p>

          <p *ngIf="lista.productos.length === 0">No tienes productos</p>

          <table *ngIf="lista.productos.length !== 0" class="table table-sm">
            <thead>
              <tr class="text-center">
                <th></th>
                <th>Pedidas</th>
                <th>Compradas</th>
              </tr>
            </thead>
            <tbody>
              <!-- Muestra hasta un máximo de 3 productos -->
              <tr *ngFor="let producto of lista.productos.slice(0, 3); let j = index">
                <td>{{ producto.nombre }}</td>
                <td class="text-center">{{ producto.udsPedidas }}</td>
                <td class="text-center">
                  <input type="number" [(ngModel)]="producto.udsCompradas" 
                    (focus)="almacenarValorOriginal(producto)"
                    (change)="actualizarCantidadComprada(producto, i, j)" 
                    min="0" [max]="producto.udsPedidas" class="form-control form-control-sm" />
                </td>
              </tr>
            </tbody>
          </table>

          <button *ngIf="lista.productos.length > 3" class="btn btn-link d-block mx-auto p-0" (click)="abrirModalVerMas(i)">Ver más...</button>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <!-- Sección izquierda: Usuarios -->
          <div class="usuarios">
          </div>
        
          <!-- Sección derecha: Botones -->
          <div class="acciones">    
            <span class="icono me-3" style="cursor: pointer;">
              <i class="bi bi-share"></i>
            </span>

            <span class="icono me-3" (click)="abrirModalAgregarProducto(i)" style="cursor: pointer;">
              <i class="bi bi-plus-circle"></i>
            </span>
        
            <span class="icono me-3" (click)="editarModal(i)" style="cursor: pointer;">
              <i class="bi bi-pen"></i>
            </span>
        
            <!-- Icono de eliminar -->
            <span class="icono" (click)="eliminarLista(i)" style="cursor: pointer;">
              <i class="bi bi-trash"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar productos -->
<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="productoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productoModalLabel">Añadir producto a {{ listaSeleccionada?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="producto" class="form-label">Nombre del Producto</label>
          <input type="text" class="form-control" id="producto" [(ngModel)]="nuevoProducto">
        </div>
        <div class="mb-3">
          <label for="unidadesPedidas">Cantidad:</label>
          <input type="number" min="0" max="10" id="unidadesPedidas" [(ngModel)]="unidadesPedidas" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="agregarProducto()">Guardar Producto</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para ver todos los productos -->
<div class="modal fade" id="verMasModal" tabindex="-1" aria-labelledby="verMasModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verMasModalLabel">Productos de {{ listaSeleccionada?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr class="text-center">
              <th></th>
              <th>Pedidas</th>
              <th>Compradas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of listaSeleccionada?.productos; let j = index">
              <td>{{ producto.nombre }}</td>
              <td class="text-center">{{ producto.udsPedidas }}</td>
              <td class="text-center">
                <input type="number" [(ngModel)]="producto.udsCompradas" 
                  (focus)="almacenarValorOriginal(producto)"
                  (change)="actualizarCantidadComprada(producto, indiceListaSeleccionada, j)" 
                  min="0" [max]="producto.udsPedidas" class="form-control form-control-sm" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar los productos en la lista -->
<div class="modal fade" id="editarProductosModal" tabindex="-1" aria-labelledby="editarProductosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarProductosModalLabel">Editar productos de {{ listaSeleccionada?.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Pedidas</th>
              <th>Compradas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of listaSeleccionada?.productos; let j = index">
              <td>
                <input type="text" [(ngModel)]="producto.nombre" (change)="actualizarProducto(indiceListaSeleccionada)" class="form-control form-control-sm" />
              </td>
              <td>
                <input type="number" [(ngModel)]="producto.udsPedidas" (change)="actualizarProducto(indiceListaSeleccionada)" min="0" class="form-control form-control-sm" />
              </td>
              <td>
                <input type="number" [(ngModel)]="producto.udsCompradas" (change)="actualizarProducto(indiceListaSeleccionada)" min="0" [max]="producto.udsPedidas" class="form-control form-control-sm" />
              </td>
              <td class="text-center align-middle">
                <span class="icono" (click)="eliminarProducto(producto.id)" style="cursor: pointer;">
                  <i class="bi bi-trash"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
