.gestionListas {
    padding: 30px 0;
}

h2 {
    font-family: "Shantell Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.input-container {
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}
  
.input-container input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176 190 197);
    background-color: transparent;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}
  
.input-container input:focus {
    border: 1px solid #1a2c3f;
}
  
.invite-btn {
    position: absolute;
    width: 65px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 4px;
    background-color: #26415E;
    color: #fff;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .6s ease;
}
  
.invite-btn:hover {
    background-color: #1a2c3f;
}

::ng-deep .toast-info {
    background-color: #1a2c3f !important; /* Cambia al color que prefieras */
    color: #ffffff !important;
    box-shadow: 0px 4px 6px rgba(46, 44, 44, 0.2) !important; /* Sombra más sutil */
}

::ng-deep .toast-success {
    box-shadow: 0px 4px 6px rgba(46, 44, 44, 0.2) !important; /* Sombra más sutil */
}

::ng-deep .toast-error {
    box-shadow: 0px 4px 6px rgba(46, 44, 44, 0.2) !important; /* Sombra más sutil */
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.card-title {
    font-size: 1.5rem;
}
 
.card-footer .usuarios {
    font-size: 0.9rem;
    color: #6c757d;
}
  
.icono i {
    font-size: 1rem;
    color: #000;
}
  
.icono i:hover {
    color: #007bff;     
}