.gestionListas {
    padding: 30px 0;
}

h2 {
    font-family: "Shantell Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.input-container {
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}
  
.input-container input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176 190 197);
    background-color: transparent;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}
  
.input-container input:focus {
    border: 1px solid #1a2c3f;
}
  
.invite-btn {
    position: absolute;
    width: 65px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 4px;
    background-color: #26415E;
    color: #fff;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .6s ease;
}
  
.invite-btn:hover {
    background-color: #1a2c3f;
}

::ng-deep .toast-info {
    background-color: #1a2c3f !important; /* Cambia al color que prefieras */
    color: #ffffff !important;
    box-shadow: 0px 4px 6px rgba(46, 44, 44, 0.2) !important; /* Sombra más sutil */
}

::ng-deep .toast-success, .toast-error, .toast-warning {
    box-shadow: 0px 4px 6px rgba(46, 44, 44, 0.2) !important; /* Sombra más sutil */
}

::ng-deep #copiarEnlaceBtn {
    background-color: #26415E !important;
    color: #ffffff !important;
    border-color: #26415E !important;
}

::ng-deep #copiarEnlaceBtn:hover {
    background-color: #1a2c3f !important;
}

::ng-deep .swal2-confirm{
    background-color: #26415E !important; 
    color: #ffffff !important;
}

::ng-deep .swal2-confirm:hover {
    background-color: #1a2c3f !important;
}

::ng-deep #editarProductosModal .nav-link {
    color: #26415E !important;
}

::ng-deep #editarProductosModal .nav-link.active {
    color: black !important;
}

::ng-deep .form-control:focus {
    box-shadow: none !important;
}

.btn-outline-secondary{
    color: #1a2c3f !important;
    border-color: #1a2c3f !important;
}

.btn-outline-secondary:hover{
    color: #ffffff !important;
    background-color: #26415E !important;
    border-color: #26415E !important;
}

.btn-primary {
    background-color: #26415E !important;
    border-color: #26415E !important;
}

.btn-primary:hover {
    background-color: #1a2c3f !important;
    border-color: #1a2c3f !important;
}

.card {
    border-radius: 20px !important;
    border: 1px solid #dedede;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.08) !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.15), 0 3px 6px rgba(0,0,0,0.1) !important;
}

.card-title {
    font-size: 1.5rem;
}
 
.card-footer .usuarios {
    font-size: 0.9rem;
    color: #6c757d;
}
  
.icono i {
    font-size: 1rem;
    color: #000;
}
  
.icono i:hover {
    color: #007bff;     
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.circle.more {
    background-color: gray;
    color: white;
}

/* The switch - the box around the speaker*/
.toggleSwitch {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

.toggleSwitch i {
    color: white;
}

.coolinput {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
.coolinput label.text {
    background-color: white; /* Color de fondo para el texto */
    font-size: 0.9rem;
    color: #26415E;
    font-weight: 700;
    margin-bottom: -1.5px;
    padding: 0 1px;
    margin: 0 10px;
    z-index: 10;
    width: fit-content;
    position: relative;
    top: 11px;
}
  
.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}
  
.coolinput input[type=text].input {
    flex: 1;
    padding: 10px;
    border: 1px #26415E solid;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background: white;
}
  
.coolinput input[type=text].input:focus {
    outline: none;
}

.coolinput input[type=number].input {
    flex: 1;
    padding: 10px;
    border: 1px #26415E solid;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background: white;
}
  
.coolinput input[type=number].input:focus {
    outline: none;
}
  
.mic-btn {
    background: white;
    border: 1px #26415E solid;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    cursor: pointer;
}
  
.mic-btn:hover {
    background: #1a2c3f;
}
  
.mic-btn i {
    font-size: 1rem;
    color: #26415E;
}

.mic-btn:hover i {
    color: white;
}