<section class="suscripcion">
    <div class="container">
      <h2>Planes de Suscripción</h2>
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Características</th>
            <th>Versión Gratuita</th>
            <th>Versión Premium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Acceso a funcionalidades básicas</td>
            <td><i class="bi bi-check-lg text-success"></i></td>
            <td><i class="bi bi-check-lg text-success"></i></td>
          </tr>
          <tr>
            <td>Soporte técnico</td>
            <td><i class="bi bi-x-lg text-danger"></i></td>
            <td><i class="bi bi-check-lg text-success"></i></td>
          </tr>
          <tr>
            <td>Almacenamiento adicional</td>
            <td>1 GB</td>
            <td>10 GB</td>
          </tr>
          <tr>
            <td>Actualizaciones exclusivas</td>
            <td><i class="bi bi-x-lg text-danger"></i></td>
            <td><i class="bi bi-check-lg text-success"></i></td>
          </tr>
        </tbody>
      </table>
  
      <div class="text-center">
        <a class="btn btn-primary" href="">Suscribirse ahora</a>
      </div>
    </div>
</section>
