<section class="suscripcion">
    <div class="container">
      <h2>Planes de Suscripción</h2>

      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th>Características</th>
            <th>Versión Gratuita</th>
            <th>Versión Premium</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Acceso a funcionalidades básicas</td>
            <td><i class="bi bi-check-lg text-success"></i></td>
            <td><i class="bi bi-check-lg text-success"></i></td>
          </tr>
          <tr>
            <td>Creación de listas</td>
            <td>2 máximas</td>
            <td>Iliminitado</td>
          </tr>
          <tr>
            <td>Productos por lista</td>
            <td>10 máximos</td>
            <td>Iliminitado</td>
          </tr>
          <tr>
            <td>Invitaciones por lista</td>
            <td>1 máxima</td>
            <td>Iliminitado</td>
          </tr>
        </tbody>
      </table>

      <div class="mt-4 text-center">
        <p class="text-muted">
            La suscripción Premium tiene un costo de <strong>3€</strong> anuales. Disfruta de todas las funcionalidades avanzadas sin límites.
        </p>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" (click)="abrirModalStripe()">Suscribirse a Premium</button>
      </div>
    </div>
</section>
